<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input 
            class="form-input"
             type="name" 
             name="name" ngModel 
             placeholder="Enter Name">
            <input 
            class="form-input" 
            type="password" 
            name="password" ngModel 
            placeholder="Enter password">
            <input class=
            "form-input"
             type="email"
              name="email" ngModel
               placeholder="Enter Email">
            <button 
            class="form-button" 
            type="submit">Sign-up</button>
        </form>
        <a class="auth-toggle-link" (click)="openLogin()">Already have Account? Click to Login!</a>
    </div>
    <!--Login area-->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerlogin="ngForm" (ngSubmit)="login(sellerlogin.value)" class="common-form">
            <input class=
            "form-input"
             type="email"
              name="email" ngModel
               placeholder="Enter Email">
            <input 
            class="form-input" 
            type="password" 
            name="password" ngModel 
            placeholder="Enter password">
   
            <button 
            class="form-button" 
            type="submit">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't have an Account? Click to SignUp!</a>
        </form>
    </div>
</div>